html, body {
  font-size: 11pt;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

pre {
  margin: .5rem;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

li.step {
  margin-bottom: .5rem;
}

.badge {
  margin-left: .5rem;
}

.card {
  margin-bottom: 1rem;
}

.card-header[data-toggle="collapse"] {
  cursor: pointer;
}

.card-header .collapse-indicator:after {
  content: '\0276F';
  display: inline-block;
}

.card-header[aria-expanded="true"] .collapse-indicator:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.table {
  width: 80%;
}

.bg-danger {
  background-color: #ffc6cb !important;
}

.feature-status, .scenario-status, .duration {
  float: right;
}

.step .badge.badge-pill {
  display: inline-block;
  width: 2rem;
}

.step .card, .step .table {
  margin: .5rem 1rem 0 1rem;
}

a.img-open {
  cursor: pointer;
}
