<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= options[:report_title] %></title>

  <link rel="icon" href="https://reportbuilder.rajatthareja.com/rb.ico">
  <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/gh/wiro34/ReportBuilder@master/css/report.builder.min.css" rel="stylesheet">

  <% if options[:additional_css] %>
      <% if options[:additional_css] =~ /^http(|s):\/\/.*\.css$/ %>
          <link rel="stylesheet" href="<%= options[:additional_css] %>" media="all"/>
      <% else %>
          <style type="text/css">
            <%= options[:additional_css]%>
          </style>
      <% end %>
  <% end %>
</head>
