<div class="row">
  <div class="col">
    <div id="featuresChart"></div>
  </div>

  <div class="col">
    <div id="scenariosChart"></div>
  </div>
</div>

<div class="card">
  <h5 class="card-header" data-toggle="collapse" data-target="#metadataBody" aria-expanded="true" aria-controls="collapseOne">
    <span class="collapse-indicator"></span>
    Metadata
  </h5>

  <div id="metadataBody" class="collapse show">
    <div class="card-body">
      <table id="metaData" class="bordered">
        <tbody>
        <tr>
          <th>Total Time</th>
          <td><%= duration(total_time(features)) %></td>
        </tr>
        <% options[:additional_info].each do |key, value| %>
          <tr>
            <th><%= key %></th>
            <td><%= value %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
